@import '../../../assets/styles/pallets.scss';

mat-toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    color: var(--cinza-escuro);

    .title {
        padding: 0px 25px 0px 0px;
        &:hover {
            color: var(--primary-color);
        }
    }

    i {
        padding-right: 5px;
    }
}

img {
    max-height: 50px;
}

a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.container-header {
    display: flex;
    align-items: center;
}