@import '../../../assets/styles/pallets.scss';

.sidenav {
    background-color: var(--secundary-color);
    color: white;
    width: 200px;

    mat-icon {
        padding-right: 10px;
    }
}

a {
    display: flex;
    height: 50px;
    padding-left: 10px;
    align-items: center;
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: 500;

    &:hover {
        background-color: var(--white);
        color: var(--secundary-color);
    }    
}

.nav-lis a mat-icon{
    vertical-align: middle;
}

.content {
    padding: 16px;
    background: var(--white);
}