<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="72" fixedBottomGap="68">
        <mat-nav-list class="nav-lis">
            <a mat-list-item>
                <mat-icon class="material-icons">
                    home
                </mat-icon>
                Início
            </a>
            <a mat-list-item>
                <mat-icon class="material-icons">
                    storefront
                </mat-icon>
                Produtos
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <app-home></app-home>
    </mat-sidenav-content>
</mat-sidenav-container>