@import '../../../assets/styles/pallets.scss';

i, span {
    color: var(--secundary-color);
    vertical-align: middle;

    .red {
        color: var(--red);
    }
}

.footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: flex-end;

    span {
        font-size: 1.1rem;
        font-weight: 300;
    }
}